<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capapresentacion.Properties.Settings.facturacion0ConnectionString"
            connectionString="Data Source=DESKTOP-H2AUF0F\SQLEXPRESS01;Initial Catalog=facturacion0;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>